<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carniceria Madrid</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                 <img src="../img/logo.png" alt="logotipo carniceria" width="1572" height="1572">
            </a>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="productos.html">Productos</a>
                </li>
                <li>
                    <a href="presupuestos.html">Presupuestos</a>
                </li>
                <li>
                    <a href="contacto.html" class="activo">Contacto</a>
                </li>
            </ul>

        </nav>
    </header>
     <main class="contacto">
        <article>
            <img src="../img/mapa.jpg" alt="imagen ubicacion" width="600" height="370">
            <ul>
               <li>Carniceria Madrid</li>
               <li>Calle San Juan 9</li>
               <li>28025 Madrid</li>
               <li>Tlf. 915557779 Movil. 644902333</li>
               <li>carniceriamadrid@tienda.com</li>
            </ul>
        </article>
     </main>
     
     <footer>
        <nav>
            <ul>
                 <li>  
                    <a href="https://www.facebook.com/carniceria.madrid1" >  <img src="../img/facebook.png" alt="logo de facebook" width="224" height="225"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/carniceria.madrid/">  <img src="../img/instagram.jpg" alt="logo instagram" width="225" height="225"></a>
                </li>
            </ul>
            <p class="avisolegal">
                    <a href="https://carniceria.madrid/aviso-legal/">Aviso legal</a>
            </p>
            <div class"direccion">
                <ul>
                    <li>Carniceria Madrid</li>
                    <li>Calle San Juan 9</li>
                    <li>28025 Madrid</li>
                </ul>
            </div>
        </nav>      
     </footer>

</body>
</html>
