<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carniceria Madrid</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                <img src="../img/logo.png" alt="logotipo carniceria" width="1572" height="1572">
            </a>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="productos.html" class="activo">Productos</a>
                </li>
                <li>
                    <a href="presupuestos.html">Presupuestos</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
            </ul>

        </nav>
    </header>

    <main class="productos">
        <h1> GALERIA DE IMAGENES</h1>
        <div class="galeria">
            <img src="../img/chorizo casero.jpg" alt="imagen choizo casero" width="989" height="989" title="Chorizo casero">
            <img src="../img/morcilla.jpg" alt="imagen morcilla" width="275" height="183" title="morcilla">
            <img src="../img/chorizo en barra.jpg" alt="imagen chorizo de barra" width="225" height="225" title="chorizo de barra">  
            <img src="../img/carrilleras.jpg" alt="imagen carrilleras" width="225" height="225" title="carrilleras">  
            <img src="../img/chuletas.jpg" alt="imagen de chuletas" width="225" height="225" title="Chuletas">  
            <img src="../img/costillas.jpg" alt="imagen costillas" width="150" height="150" title="Costillas">   
            <img src="../img/filete de aguja.jpg" alt="imagen filete de aguja" width="225" height="225" title="Filete de aguja">  
            <img src="../img/hamburguesas.jpg" alt="imagen hamburguesas" width="225" height="225" title="Hamburguesas">
            <img src="../img/lomo.jpg" alt="imagen lomo" width="225" height="225" title="Cinta de lomo">  
            <img src="../img/panceta.jpg" alt="imagen panceta" width="240" height="160" title="Panceta">
            <img src="../img/salchichas.jpg" alt="imagen salchichas" width="224" height="225" title="Salchichas">  
            <img src="../img/solomillo.jpg" alt="imagen solomillo" width="202" height="249" title="Solomillo">
            <img src="../img/alitas de pollo.jpg" alt="imagen alitas de pollo" width="297" height="170" title="Alitas de pollo">
            <img src="../img/filetes de pollo.jpg" alt="imagen filetes de pollo" width="221" height="148" title="Filetes de pollo">
            <img src="../img/mollejas de cordero.jpg" alt="imagen mollejas de cordero" width="225" height="225" title="Mollejas de cordero">
        </div>
    </main>
    
    <footer>
        <nav>
            <ul>
                 <li>  
                    <a href="https://www.facebook.com/carniceria.madrid1" >  <img src="../img/facebook.png" alt="logo de facebook" width="225" height="225"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/carniceria.madrid/">  <img src="../img/instagram.jpg" alt="logo instagram" width="225" height="225"></a>
                </li>
            </ul>
            <p class="avisolegal">
                    <a href="https://carniceria.madrid/aviso-legal/">Aviso legal</a>
            </p>
            <section class="direccion">
                <ul>
                    <li>Carniceria Madrid</li>
                    <li>Calle San Juan 9</li>
                    <li>28025 Madrid</li>
                </ul>
            </section>
        </nav>  
    </footer>

</body>
</html>